/*************** HEADER ***************/
.header__site-info {
  position: absolute;
  z-index: 999999;
  margin-left: $bb-base-spacing-unit;;
	@include media (">#{map-get($bb-layout, 'full-width-max')}") {
		margin-left: 10%;
	}
  height: 4rem;
  margin-top: -4rem;
}
.header__logo {
	height: 100%;
	width: auto;
}