/************ Theme / Objects / TOPBAR *************/

.topbar, .second-topbar {
	padding-left: 286px; //this is the width of the logo once it is at its full height
}
.topbar {
	.widget-1 {
		@extend %bb-navbar--justified;
	}
}
.second-topbar {
	//@extend %bb-grid;
	.menu-sample-menu {
		@include bb_listColor('menu');
		.menu-item-has-children {
			@include bb_listColor('submenu');
		}
	}
	.widget-1 {
		//menu
		@extend %bb-navbar;
		@extend %bb-grid-item;
		width: 5/6 * 100%;
	}
	.widget-2 {
		//search
		@extend %bb-grid-item;
		width: 1/6 * 100%;

	}
	
}