//*----------------- Theme / Bear Bones Setup --------------------*/

$bb-test-nav: true;
$bb-test-quotes: true;
$bb-test-rules: true;
$bb-test-island: true;
$bb-test-nav: true;
$bb-test-headers: true;

// CSS Maps
$bb-layout-custom: (
	'full-width-max': 1100px,
	'full-width-percentage': 80%,
	'use' : true,
	'components' : (
		'content' : 'wrapper'
	)
);

$bb-brand-custom: (
	'round' : 6px,
	'use' : true,
	'style': all,
);

//* Button defaults */
$bb-buttons-custom: (
	'primary' : (
		'bgc' : $mayaBlue, //background-color
		'border-color' : null,
		'color' : white,		
		//'line-height' : map-get($bb-font, 'line-height-ratio'),
		//'padding-vertical' : 0.25em,
		//'padding-horizontal' : 0.5em,
		'push' : null,
		//'radius' : map-get($bb-brand, 'round'),
		'radius' : null,
		//'size' : 1em,
		'trans' : 0.2s ease-in-out,
		//'trans' : null,
		'hover' : (
			'bgc' : $columbiaBlue,
			'border-color' : null,
			'color' : null,
		)
	),
	'secondary' : (
		'bgc' : $carrotOrange, //background-color
		'border-color' : null,
		'color' : white,		
		//'line-height' : map-get($bb-font, 'line-height-ratio'),
		//'padding-vertical' : 0.5em,
		//'padding-horizontal' : 0.5em,
		'push' : null,
		//'radius' : map-get($bb-brand, 'round'),
		'radius' : null,
		//'size' : 1em,
		'trans' : 0.2s ease-in-out,
		//'trans' : null,
		'hover' : (
			'bgc' : lighten($carrotOrange, 20%),
			'border-color' : null,
			'color' : null,
		)
	),
);

$bb-social-custom: (
	//'bgc': map-deep-get($bb-colors, 'accent-color', 'bgc'),
	'bgc' : null,
	'bgc--hover': null,
	'color' : white,
	'color--hover': $columbiaBlue,
	'size' : 1em,
	'radius' : null
);

$bb-topbar-custom: (
	'topbar': (
		'height': 2em,
		'padding': (0.25em 0),
	),
	'second':(
		'height': 2em,
		'link--hover' : $columbiaBlue,
		'padding': (0.25em 0),
	)
);

$bb-forms-custom: (
	'placeholder-focus-bgc' : $mayaBlue
);

$bb-revslider-custom: (
	'bullet': (
		'margin' : 0.25em,
	)
);

$bb-headers-custom: (
	'icon':(
		'test':(
			'icon-size' : 3em,
			'heading-size': 1.75em,
			'vertical-align' : middle
		),
		'center':(
			'icon-size': 2.5em,
		)
	),
	'image':(
		'test':(
			'width' : 5em,
			'heading-size': 1.75em,
			'vertical-align' : middle
		),

	)
)