//********************  Bear Bones / Base / Clearfix ******************/
//* Clear fix: http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php */

@mixin bb-cf() {
	&:after {
	   content:"";
	   display:table;
	   clear:both;
	}
}

@if ($bb-base-clearfix == true) {

	%#{$namespace}-cf { 
		@include bb-cf();
	}

}