/********************  Bear Bones / Objects / LAYOUT ******************/
@mixin full-width-inner ( $percentage : $full-width-percentage,  $max-width : $full-width-max ) {
	margin: 0 auto;
	width: $percentage;
	max-width: $max-width;
}

%full-width-wrapper,  %full-width--wrapper {
	width: 100%;
	@extend %bb-cf;
}
%full-width-inner,  %full-width--inner {
	
	//width: $full-width-percentage;
	//max-width: $full-width-max;
	@include full-width-inner();
}

$mq-mobile : 'max-width: #{$bp-mobile}';
$mq-mobile-only : 'max-width: #{$bp-mobile}';
$mq-smartphone : 'max-width: #{$bp-smartphone-end}';
$mq-smartphone-and-up : 'min-width: #{$bp-smartphone-start}';
$mq-tablet-and-up : 'min-width: #{$bp-tablet-start}';
$mq-tablet : 'min-width: #{$bp-tablet-start}) and (max-width: #{$bp-tablet-end}';
$mq-tablet-only : 'min-width: #{$bp-tablet-start}) and (max-width: #{$bp-tablet-end}';
$mq-handheld : 'max-width: #{$bp-tablet-end}';
$mq-tablet-landscape-and-up : 'min-width: #{$bp-tablet-start}) and (orientation : landscape';
$mq-tablet-and-lap : 'min-width: #{$bp-tablet-start}) and (max-width: #{$bp-lap-end}';
$mq-lap-and-up : 'min-width: #{$bp-lap-start}';
$mq-lap : 'min-width: #{$bp-lap-start}) and (max-width: #{$bp-lap-end}';
$mq-lap-only : 'min-width: #{$bp-lap-start}) and (max-width: #{$bp-lap-end}';
$mq-desk : 'min-width: #{$bp-desk-start}';
$mq-desk-and-up : 'min-width: #{$bp-desk-start}';
$mq-desk-only : 'min-width: #{$bp-desk-start}';
$mq-desk-wide : 'min-width: #{$bp-desk-wide-start}';

$mq-bp-1-and-up : 'min-width: #{$bp-1}';
$mq-bp-1 : 'min-width: #{$bp-1}';
$mq-bp-1-below : 'max-width: #{$bp-1-below}';