/********************* Bear Bones / Base / TYPOGRAPHY ********************/

@mixin font-size($size, $line-height: false, $unit : 1rem) {
	@if (unitless($size)) {
		font-size: $size * $unit;
	} @else {
		font-size: $size;
	}
	@if $line-height != false{
        //line-height:ceil($size / $line-height-ratio) * ($line-height-ratio / $size);
		line-height: $line-height;
    }
}

@mixin set-margin-bottom($margin-bottom : $line-height-ratio, $rem : true) {
	@if (unitless($margin-bottom)) {
		@if ($rem == true) {
			margin-bottom: $margin-bottom * 1rem;
		} @else {
			margin-bottom: $margin-bottom * 1em;
		}
	} @else {
		margin-bottom: $margin-bottom;
	}
}

@mixin set-vr($vr : default) {
	@if ($vr == half) {
		margin-bottom: $line-height-ratio / 4 * 1rem;
	} @elseif ($vr == quarter) {
		margin-bottom: $line-height-ratio / 8 * 1rem;
	} @elseif ($vr == extra) {
		margin-bottom: $line-height-ratio * 1rem;
	} @elseif ($vr == none) {
		margin-bottom: 0;
	} @else {
		margin-bottom: $line-height-ratio / 2 * 1rem;
	} 
}

//* Type Scale is based off of the wonderful tool http://type-scale.com/  NOTE: Use Chrome, doesn't always work right in FireFox*/
@mixin type-scale($scale: default) {
	@if($scale == 'Augmented Fourth') {
		$h1-default: 3.998;
		$h2-default: 2.827;
		$h3-default: 1.999;
		$h4-default: 1.414;
		$h5-default: 0.707;
		$h6-default: 0.5;
	} @elseif($scale == 'Golden Ratio') {
		h1, .h1, .alpha  {
			font-size: 6.854rem;
		}
		h2, .h2, .beta {
			font-size: 4.236rem;
		}
		h3, .h3, .gamma {
			font-size: 2.618rem;
		}
		h4, .h4, .delta {
			font-size: 1.618rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.618rem;
		}
		h6, .h6, .zeta {
			font-size: 0.382rem;
		}	
	} @elseif($scale == 'Major Second') {
		h1, .h1, .alpha  {
			font-size: 1.602rem;
		}
		h2, .h2, .beta {
			font-size: 1.424rem;
		}
		h3, .h3, .gamma {
			font-size: 1.266rem;
		}
		h4, .h4, .delta {
			font-size: 1.125rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.889rem;
		}
		h6, .h6, .zeta {
			font-size: 0.79rem;
		}	
	} @elseif($scale == 'Major Third') {
		h1, .h1, .alpha  {
			font-size: 2.441rem;
		}
		h2, .h2, .beta {
			font-size: 1.953rem;
		}
		h3, .h3, .gamma {
			font-size: 1.563rem;
		}
		h4, .h4, .delta {
			font-size: 1.25rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.8rem;
		}
		h6, .h6, .zeta {
			font-size: 0.64rem;
		}	
	} @elseif($scale == 'Major Sixth') {
		h1, .h1, .alpha  {
			font-size: 7.722rem;
		}
		h2, .h2, .beta {
			font-size: 4.632rem;
		}
		h3, .h3, .gamma {
			font-size: 2.779rem;
		}
		h4, .h4, .delta {
			font-size: 1.667rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.6rem;
		}
		h6, .h6, .zeta {
			font-size: 0.36rem;
		}	
	} @elseif($scale == 'Major Seventh') {
		h1, .h1, .alpha  {
			font-size: 12.36rem;
		}
		h2, .h2, .beta {
			font-size: 6.592rem;
		}
		h3, .h3, .gamma {
			font-size: 3.516rem;
		}
		h4, .h4, .delta {
			font-size: 1.875rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.533rem;
		}
		h6, .h6, .zeta {
			font-size: 0.284rem;
		}	
	} @elseif($scale == 'Major Tenth') {
		h1, .h1, .alpha  {
			font-size: 39.063rem;
		}
		h2, .h2, .beta {
			font-size: 15.625rem;
		}
		h3, .h3, .gamma {
			font-size: 6.25rem;
		}
		h4, .h4, .delta {
			font-size: 2.5rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.4rem;
		}
		h6, .h6, .zeta {
			font-size: 0.16rem;
		}	
	} @elseif($scale == 'Minor Second') {
		h1, .h1, .alpha  {
			font-size: 1.296rem;
		}
		h2, .h2, .beta {
			font-size: 1.215rem;
		}
		h3, .h3, .gamma {
			font-size: 1.138rem;
		}
		h4, .h4, .delta {
			font-size: 1.067rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.937rem;
		}
		h6, .h6, .zeta {
			font-size: 0.878rem;
		}
	} @elseif($scale == 'Minor Third') {
		$h1-default: 2.074;
		$h2-default: 1.728;
		$h3-default: 1.44;
		$h4-default: 1.2;
		$h5-default: 0.833;
		$h6-default: 0.694;
		
	} @elseif($scale == 'Minor Sixth') {
		h1, .h1, .alpha  {
			font-size: 6.554rem;
		}
		h2, .h2, .beta {
			font-size: 4.096rem;
		}
		h3, .h3, .gamma {
			font-size: 2.56rem;
		}
		h4, .h4, .delta {
			font-size: 1.6rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.625rem;
		}
		h6, .h6, .zeta {
			font-size: 0.391rem;
		}	
	} @elseif($scale == 'Minor Seventh') {
		h1, .h1, .alpha  {
			font-size: 9.994rem;
		}
		h2, .h2, .beta {
			font-size: 5.621rem;
		}
		h3, .h3, .gamma {
			font-size: 3.161rem;
		}
		h4, .h4, .delta {
			font-size: 1.778rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.562rem;
		}
		h6, .h6, .zeta {
			font-size: 0.316rem;
		}	
	} @elseif($scale == 'Octave') {
		h1, .h1, .alpha  {
			font-size: 16rem;
		}
		h2, .h2, .beta {
			font-size: 8rem;
		}
		h3, .h3, .gamma {
			font-size: 4rem;
		}
		h4, .h4, .delta {
			font-size: 2rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.5rem;
		}
		h6, .h6, .zeta {
			font-size: 0.25rem;
		}	
	} @elseif($scale == 'Perfect Fourth') {
		$h1-default: 3.157 !global;
		$h2-default: 2.369 !global;
		$h3-default: 1.777 !global;
		$h4-default: 1.333 !global;
		$h5-default: 0.75 !global;
		$h6-default: 0.563 !global;
	} @elseif($scale == 'Perfect Fifth') {
		h1, .h1, .alpha  {
			font-size: 5.063rem;
		}
		h2, .h2, .beta {
			font-size: 3.375rem;
		}
		h3, .h3, .gamma {
			font-size: 2.25rem;
		}
		h4, .h4, .delta {
			font-size: 1.5rem;
		}
		h5, .h5, .epsilon {
			font-size: 0.667rem;
		}
		h6, .h6, .zeta {
			font-size: 0.444rem;
		}	
	} 
		
	h1, .h1, .alpha  {
		font-size: $h1-default * 1rem;
	}
	h2, .h2, .beta {
		font-size: $h2-default * 1rem;
	}
	h3, .h3, .gamma {
		font-size: $h3-default * 1rem;
	}
	h4, .h4, .delta {
		font-size: $h4-default * 1rem;
	}
	h5, .h5, .epsilon {
		font-size: $h5-default * 1rem;
	}
	h6, .h6, .zeta {
		font-size: $h6-default * 1rem;
	}
	
}
@mixin h1-size {
	font-size: $h1-default * 1em;
}
%h1-size {
	@include h1-size;
}
@mixin h2-size {
	font-size: $h2-default * 1em;
}
%h2-size {
	@include h2-size;
}
@mixin h3-size {
	font-size: $h3-default * 1em;
}
%h3-size {
	@include h3-size;
}
@mixin h4-size {
	font-size: $h4-default * 1em;
}
%h4-size {
	@include h4-size;
}
@mixin h5-size {
	font-size: $h5-default * 1em;
}
%h5-size {
	@include h5-size;
}
@mixin h6-size {
	font-size: $h6-default * 1em;
}
%h6-size {
	@include h6-size;
}




%text-overflow {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap; 
}

html{
    font:#{$base-font-size}/#{$line-height-ratio * 1rem} $base-font-family;
	line-height: $line-height-ratio;
}

/*Type Scale */
@include type-scale($type-scale);


//* Doubled up `margin-bottom` helper class. */
%landmark{
    margin-bottom:2 * px($base-font-size, $line-height-ratio);
    margin-bottom:(2 * $line-height-ratio)*1rem;
}

//** `hr` elements only take up a few pixels, so we need to give them special treatment regarding vertical rhythm. */


/* Vertical rhythm */
/* Vertical rhythm only sets bottom margin. If top margin is set, it can prevent the .page-wrapper div from setting flush against the top of the screen 
	If space is required on top, use padding for the element. */
%vr {
	@include set-vr();
}

%vr--extra {
	@include set-vr(extra);
}
%vr--half {
	@include set-vr(half);
}
%vr--quarter {
	@include set-vr(quarter);
}
%vr--none {
	@include set-vr(none);
}

/* typography classes */
.no_hyphens, %no_hyphens {
	-webkit-hyphens: none;
	-epub-hyphens:   none;
	-moz-hyphens:    none;
  hyphens:         none;
}

.hyphenate, %hyphenate {
	-webkit-hyphens: auto;
	-epub-hyphens:   auto;
	-moz-hyphens:    auto;
  hyphens:         auto;
}

/* use the best ampersand http://simplebits.com/notebook/2008/08/14/ampersands-2/ */
.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic;
}

//* text classes */
// Most of these classes are taken from Twitter Bootstrap - getbootstrap.com
// Utility classes
%text--muted               {  
	opacity: 0.6; /* CSS3 */
	&:hover, &:focus {
		opacity: 0.9;
	}
}
@function set-hover-color($color) {
  @if (lightness($color) > 50) {
	// Lighter color, return dark color
	$color : darken($color, 10%);    
  } @else {
	// Darker color, return light color
    $color : lighten ($color, 10%); 
  }
  @return $color;
}

@mixin text-class ( $color : false, $color_hover : false) {
	color: $color;
	@if ( $color_hover  ) {
		&:hover, &:focus {
			color: set-hover-color($color);
		}
	}
}

%text--warning   { 
	@include text-class( $warning_color, true );
}
%text--error   { 
	@include text-class( $error_color, true );
}

%text--info   { 
	@include text-class( $info_color, true );
}

%text--success   { 
	@include text-class( $success_color, true );
}

%text--accent-color   { 
	@include text-class( $accent-color, true );
}

%text--accent-color2   { 
	@include text-class( $accent-color2, true );
}

%text--accent-color3   { 
	@include text-class( $accent-color3, true );
}

/*/
// text alignment  built into inuit.css  text--left, text--right, text--center 
// @TODO: check to make sure text-- classes are transferred to new css framework

// Abbreviations and acronyms
//abbr[title],
// Added data-* attribute to help out our tooltip plugin, per https://github.com/twitter/bootstrap/issues/5257
/*abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $gray-light;
}*/
%initialism {
  font-size: 90%;
  text-transform: uppercase;
}
//** Apply capital case to an element (usually a `strong`).*/
%caps, %text--upper{
    text-transform:uppercase!important;
}
%smallcaps {
	font-variant:small-caps!important;
}
%text--lower {
	text-transform:lowercase!important;
}

%lede,
%lead{
    @include font-size(1.125);
}

%secondary {
	@include font-size(1, 1.1em);
}

/* SMALL PRINT: A series of classes for setting tiny type; for use in smallprint etc. */

%smallprint,
%milli{
    @include font-size($milli-default);
}
%micro{
    @include font-size($micro-default);
}


%double_lines {
	border-top: 4px double $font-color	;
	border-bottom: 4px double $font-color;
}
%double_lines--bottom {
	border-bottom: 4px double $font-color;
}
%double_lines--top {
	border-top: 4px double $font-color;
}
