@if ($bb-html-images == true) {
/********************  Bear Bones / Html / IMAGES ******************/

	%#{$namespace}-img--rounded { border-radius: map-get($bb-brand, 'round'); }
	%#{$namespace}-img--circle { border-radius: 500px;}
	%#{$namespace}-img--polaroid {
		padding: $bb-base-spacing-unit;
		background-color: white;
		border: thin solid map-get($bb-colors, 'ui');
	}
	figcaption {
		display: block;
		font-style: italic;
	}
	img {
		max-width: 100%;
		height: auto;	
	}
}