@if ($bb-html-rules == true) {

/********************  Bear Bones / HTML / RULES ******************/
// Taken from http://codepen.io/ibrahimjabbari/pen/ozinB

	hr {
		border-top: 1px solid map-get($bb-colors, 'hr'); 
	}

	%#{$namespace}-hr--gradient {
		height: 10px;
		border: 0;
		box-shadow: 0 10px 10px -10px map-get($bb-colors, 'hr') inset;
	}
	
	%#{$namespace}-hr--gradient-horizontal {
		height: 1px;
		border: 0;
		//background-image: -webkit-linear-gradient(left, map-get($bb-colors, 'bgc'), map-get($bb-colors, 'hr'), map-get($bb-colors, 'bgc'));
		//background-image: -moz-linear-gradient(left, map-get($bb-colors, 'bgc'), map-get($bb-colors, 'hr'), map-get($bb-colors, 'bgc'));
		//background-image: -ms-linear-gradient(left, map-get($bb-colors, 'bgc'), map-get($bb-colors, 'hr'), map-get($bb-colors, 'bgc'));
		//background-image: -o-linear-gradient(left, map-get($bb-colors, 'bgc'), map-get($bb-colors, 'hr'), map-get($bb-colors, 'bgc')); 
		@include linear-gradient(left, map-get($bb-colors, 'bgc'), map-get($bb-colors, 'hr'), map-get($bb-colors, 'bgc'));
	}
	 
	%#{$namespace}-hr--heart {
		border: 0;
		border-top: 4px double map-get($bb-colors, 'hr');
		text-align: center;
		&:after {
			content: '\002665';
			display: inline-block;
			position: relative;
			top: -15px;
			padding: 0 10px;
			background: map-get($bb-colors, 'bgc');
			color: map-get($bb-colors, 'hr');
			font-size: 18px;
		}
	}
 
	%#{$namespace}-hr--scissors {
		border: 0;
		border-top: 1px dashed map-get($bb-colors, 'hr'); 
		&:after {
			content: '\002702'; 
			display: inline-block; 
			position: relative; 
			top: -12px; 
			left: 40px; 
			padding: 0 3px; 
			background: map-get($bb-colors, 'bgc');
			color: map-get($bb-colors, 'hr');
			font-size: 18px; 
		}
	}
	
	%#{$namespace}-hr--ornament {
		border: 0;
		border-top: 1px solid map-get($bb-colors, 'hr'); 
		text-align: center;
		&:after {
			content: '§';
			display: inline-block; 
			position: relative; 
			top: -14px;
			padding: 0 10px;
			background: map-get($bb-colors, 'bgc');
			color: map-get($bb-colors, 'hr');
			font-size: 18px;
			-webkit-transform: rotate(60deg);
			-moz-transform: rotate(60deg);
			transform: rotate(60deg);
		}
	}
	
	%#{$namespace}-hr--grain {
		height: 30px; 
		border: 0;
		border-style: solid; 
		border-color: map-get($bb-colors, 'hr'); 
		border-width: 1px 0 0 0; 
		border-radius: 20px; 
		&:before {
			content: '';
			display: block; 
			height: 30px;
			margin-top: -31px; 
			border-color: map-get($bb-colors, 'hr');
			border-style: solid; 
			border-width: 0 0 1px 0; 
			border-radius: 20px; 
		}
	}
	
}//endif

@if ($bb-test-rules == true) {
	.hr--gradient {
		@extend %bb-hr--gradient;
	}
	.hr--gradient-horizontal {
		@extend %bb-hr--gradient-horizontal;
	}
	.hr--heart {
		@extend %bb-hr--heart;
	}
	.hr--scissors {
		@extend %bb-hr--scissors;
	}
	.hr--ornament {
		@extend %bb-hr--ornament;
	}
	.hr--grain {
		@extend %bb-hr--grain;
	}
}