//* Button defaults */
$btn--use-round: false;
$btn--use-border: false ;
$btn--use-push: false;
$btn--use-trans: true;	
$btn--text-capitalize: false;
$btn--text-shadow: false;
$btn-font-size: 1.1em;
$btn-padding-ends: 0.25em; //*top and bottom*/
$btn_padding_sides: 0.75em;
$btn-line-height: 2em;
$use-btn-line-height: false;

//*-- BUTTON COLORS --*/
$btn_bg_color			: 	black;
$btn_bg_color--hover	: 	$spanish-white;
$btn_font_color			: 	white;
$btn_border_color		:	false;
$btn2_bg_color			: 	$pavlova;
$btn2_font_color		: 	white;
$btn2_border_color		:	false;


