/********************  Theme / Style / HTML ELEMENTS  ******************/
html {
	//min-height:100%;
}

body {
	color: $font-color;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-hover-color;
	}
	&:focus { 
		outline: thin dotted; 
	}
}

/*------------- Vertical Rhythm -----------*/
//* csswizardry.com/2012/06/single-direction-margin-declarations */
//* .vr { margin-bottom: $line-height-ratio / 2 * 1rem; margin-top: $line-height-ratio / 2 * 1rem; } */
//*Technically this should be in typography, but since it applies to html elements and it needs to be called after bear-bones/base/typography, this seems like the most logical place */

hgroup,
ul,ol,dl,
blockquote,p,address,
table,figure,
pre,
//*Objects and abstractions */ 
%sass-margin-bottom,
.media {
    @extend %vr;
}

h1,.h1,.alpha, h2,.h2,.beta, h3,.h3,.gamma, h4,.h4,.delta, h5,.h5,.epsilon, h6,.h6,.zeta{
	@extend %vr;
	margin-top: 1em;
}
h1, .h1 {
	//border-bottom: thin solid $font-color;
	//padding-bottom: 0.25em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	text-transform: uppercase;
}
h1, .h1, h2, .h2, h3, .h3 {
	color: $heading-color;
}
h4, .h4, h5, .h5 {
	color: $font-color;
}

pre {
	background-color: white;
	text-align: left;
	display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}